.n-scrollbar-container .n-scrollbar-content .n-alert-body.n-alert-body--bordered {
  display: none
}

.n-scrollbar-container .n-scrollbar-content .n-alert__border {
  display: none
}


body {
  user-select: none;
}

body::selection {
  background-color: rgba(237, 228, 254, 1);
}

body.theme-dark::selection {
  background-color: rgba(53, 42, 94, 1);
}


#chat-content {
  -webkit-user-select: text;
  user-select: text;
}

.n-layout--static-positioned.selectable {
  -webkit-user-select: none;
}

span.clickable.flex.items-center:hover {
  color: #b1a4fd;
}

body.theme-light .hljs::selection, body.theme-light .hljs ::selection {
  background-color: rgba(237, 228, 254, 1) !important;
  color: inherit !important;
}

body.theme-dark .hljs::selection, body.theme-dark .hljs ::selection {
  background-color: rgba(77, 64, 127, 0.8) !important;
}
